<!doctype html>
<html>

<head>
    <title>Gitlog Report</title>


    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
<div style="width:95%;">
    <div id="container-monthly-commits"></div>
    <div id="container-monthly-commits-accum"></div>

    <div id="raw" style="display: none;">{{.Raw}}</div>
</div>

<script src="lib/moment.min.js"></script>
<script src="lib/highcharts.js"></script>
<script src="charts.js"></script>

</body>

</html>
